
@model videojuego.Models.Producto
@{
    ViewData["Title"] = "Producto Video Juego";
}
<h1>@ViewData["Title"]</h1>

 <div class="text-center">
    <div class="container">
    <div class="row">
        <div class="col-4">
            <form asp-controller="Producto" asp-action="Create">
                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Nombre" type="text" class="form-control"/>
                </div>
                 <div class="mb-3">
                    <label asp-for="Categoria" class="form-label">Categoria</label>
                    <input asp-for="Categoria" type="text" class="form-control"/>
                </div>
                 <div class="mb-3">
                    <label asp-for="Precio" class="form-label">Precio</label>
                    <input asp-for="Precio" type="number" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label asp-for="Descuento" class="form-label">Descuento</label>
                    <input asp-for="Descuento" type="number" class="form-control"/>
                </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar </button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
